body {
  background-image: url("../images/DAILYPROPHETBG.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
  font-family: "Annie Use Your Telescope", Arial, Helvetica, sans-serif;
  font-size: 100%;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 4vh auto;
  min-height: 92vh;
  border-radius: 25px;
  background-image: url(../images/chalkboard.jpg);
  padding: 25px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container.quiz-page {
  justify-content: flex-start;
}

header.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 6vh;
}

header.flex .hogwarts-crest-small {
  object-fit: contain;
  max-height: 20vh;
}
h1.quiz-score-headline {
  text-align: center;
  font-size: 1.9em;
  padding-bottom: .25em;
  margin-bottom: .25em;
  border-bottom: 4px solid #FFFFFF;
}
p.quiz-score, p.quiz-counter {
  font-size: 1.7em;
  margin: 0;
}
em {
  font-weight: bold;
  font-size: 1.3em;
}
div.quiz-question, div.quiz-answer-text {
  font-size: 2.5em;
  padding-bottom: 5vh;
  text-align: center;
}
div.quiz-options-container {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-row-gap: 2vw;
}
button.js-quiz-option {
  font-size: 2em;
  letter-spacing: 3px;
}
main.grid {
  display: grid;
  grid-template-columns: 50% 46%;
  grid-column-gap: 4%;
}
.quiz-answer-text {
  grid-column-end: span 2;
}

.quiz-result-factoid p {
  margin-top: 0;
  letter-spacing: 2px;
}

.quiz-result-factoid a {
  color: #FFFFFF;
}
button.js-quiz-next-question, button.js-quiz-view-final {
  grid-column-end: span 2;
}
img {
  max-width: 100%;
}
.quiz-result-image {
  margin-bottom: 1em;
}
div.quiz-result-factoid {
  font-size: 1.5em;
}

.hogwarts-crest-large {
  display: block;
  margin: auto;
  max-height: 40vh;
}
p.quiz-result-text {
  font-size: 2.5em;
}
button {
  display: block;
  padding: 20px 30px;
  background-color: Transparent;
  border: 4px solid #FFFFFF;
  border-radius: 15px;

  font-size: 3em;
  font-weight: bold;
  letter-spacing: 10px;
  color: #FFFFFF;
}

.js-quiz-start-button {
  margin: auto;
}

.quiz-headline-question, .quiz-result-headline {
  text-align: center;
  display: block;
  font-size: 4em;
  margin-top: 0;
}
.quiz-result-headline {
  margin-bottom: 0;
}

p.final-quiz-score {
  margin-bottom: 1em;
  font-size: 2em;
}
main.flex {
  display: flex;
  flex-direction: column;
}
.quiz-score-tracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-score-tracker p {
  margin-top: 0;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 92vw;
    margin-left: 4vw;
    margin-right: 4vw;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (orientation: landscape) and (max-height: 500px) {
  .container {
    flex-direction: row;
    align-items: center;
  }
}
